/* General Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

:root{
    --color-monkeys: #f7ba26;
}

body{
    font-family: Roboto;
    background-color: black;
}

/* Movil Version */

/* Header */

header{
    background: #000305;
    background: linear-gradient(180deg,rgba(0, 3, 5, 1) 0%, rgba(3, 0, 0, 1) 29%, rgba(8, 0, 0, 0) 100%);
    position: fixed;
    z-index: 99;
    width: 100vw;
}

.header-monkey{
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 5px 2vw 5px 2vw;
}

.header-monkey-icon{
    height: 100%;
}

.header-monkey-icon a img{
    height: 9dvh;
}

.second-part-header{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-content: center;
}

.pedido-header{
    display: none;
}

.reselva-header{
    align-self: center;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;
    border-radius: 30px;
    background-color: var(--color-monkeys);
    width: 180px;
}

.reselva-header a{
    text-decoration: none;
    color: black;
}

.toggle-menu{
    display: flex;
    flex-direction: row;
    width: 25px;
    height: 34px;
    align-self: center;
    position: relative;
}

.point{
    cursor: pointer;
    width: 100%;
    display: flex;
}

.point svg{
    fill: var(--color-monkeys);
    align-self: center;
}

.menu-toggle{
    position: absolute;
    top: 0;
    left: 0;
}

.check{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.menu-nav{
    display: none;
}

.close-menu-toggle{
    width: 30px;
}
.close-menu-toggle svg{
    width: 30px;
    fill: gray;
}

body:has(#menu-toggle:checked) {
    overflow: hidden;
}

body:has(#menu-toggle:checked) .menu-nav{
    display: flex;
    height: 100dvh;
    width: 100dvw;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: black;
    
}

body:has(#menu-toggle:checked) .menu-flex-header{
    align-self: center;
    display: flex;
    align-content: center;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    width: 100vw;
    
}

.menu-flex-header li{
    align-self: center;
}

.menu-flex-header a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--color-monkeys);
}

.divider{
    align-self: center;
    height: 1.5px;
    width: 80%;
    background: var(--color-monkeys);
}

body:has(#menu-toggle:checked) .close-div{
    position: absolute;
    right: 2px;
}

/* Main */

main{
    padding-top: 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 150vw;
}

.image-cover-main a img{
    width: 100%;
    position: absolute;
    z-index: -1;
}

.text-main-com{
    display: flex;
    flex-direction: column;
    width: 75vw;
    font-family: montserrat;
    position: absolute;
    top: 65vw;
    right: 2vw;
}

.title-main{
    align-self: end;
    display: grid;
    grid-template-columns: 15vw 3vw 12vw 45vw;
    grid-template-rows: 2.5vw 17vw 18vw;
}

.title-main p{
    font-family: Anton;
}

.grid-1{
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.grid-1 p{
    font-size: 2vw;
    color: white;
    font-weight: 100;
}

.grid-2{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
}

.grid-2 p{
    align-self: center;
    font-size: 18vw;
    color: red;
}

.grid-3{
    align-self: center;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    display: flex;
}

.grid-3 p{
    align-self: center;
    font-size: 13vw;
    color: red;
    padding-bottom: 6vw;
    
}

.grid-4{
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
    gap: 0;
    align-self: center;
    justify-self: center;
    padding-bottom: 5px;
}

.grid-4 p{
    font-size: 4.4vw;
    height: 5vw;
    color: red;
} 

.grid-4 p:first-child{
    font-size: 11vw;
    height: 12vw;
}

.grid-4 p:last-child{
    color: white;
    font-weight: 100;
    font-size: 3vw;
    align-self: center;
}


.grid-5{
    grid-row: 1 / 3;
    grid-column: 4 / 5;
    display: flex;
}

.grid-5 p{
    align-self: center;
    font-size: 21vw;
    color: white;
}

.grid-6{
    grid-row: 3 / 4;
    grid-column: 1 / 5;
    display: flex;
}

.grid-6 p{
    align-self: center;
    font-size: 19.5vw;
    color: var(--color-monkeys);
}

.lunes-jueves{
    color: white;
    align-self: end;
    font-size: 6vw;
    font-weight: 800;
    font-family: "Bebas Neue";
    height: 6vw;
}

.lunes-jueves strong{
    color: red;
}

.incluye{
    color: var(--color-monkeys);
    align-self: end;
    font-size: 6vw;
    height: 6vw;
    font-weight: 800;
    font-family: "Bebas Neue";
}

.sandwich{
    color: white;
    align-self: end;
    font-size: 4vw;
    height: 5vw;
}

.elige{
    color: var(--color-monkeys);
    align-self: end;
    font-size: 4vw;
    height: 5vw;
}

.ver-mas-buttom{
    position: absolute;
    bottom: 10vw;
    align-self: center;
    background-color: var(--color-monkeys);
    width: 80px;
    display: flex;
    padding: 3px;
    justify-content: center;
    border-radius: 40px;
}

.ver-mas-buttom a{
    text-decoration: none;
    color: black;
}

/* Monkeys Section */

.monkeys-section{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}


.monkeys-section div{
    align-self: center;
    margin-bottom: 40px;
    position: relative;
}

.monkeys-section div:last-child{
    margin-bottom: 0;
}

.monkeys-section div a img{
    width: 90vw;
}

.monkey-1-section{
    width: 90vw;
    height: 90vw;
    position: relative;
}

.monkey-1-section a img{
    position: absolute;
}

.inside-container{
    position: absolute;
    z-index: 2;
    top: 60vw;
    color: white;
}

.inside-container h2{
    font-size: 2.5rem;
    text-align: center
}

.inside-container p{
    text-align: center;
    opacity: 0;
}

.arrow-right{
    display: flex;
    background-color: white;
    border-radius: 60px;
    justify-content: center;
    align-content: center;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 45%;
    opacity: 0;
}

.arrow-right svg{
    width: 35px;
    fill: var(--color-monkeys);
}

.monkey-1-section:hover .inside-container{
    transition: 500ms;
    top: 45vw;
}

.monkey-1-section:hover .inside-container p{
    opacity: 1;
}

.monkey-1-section:hover .inside-container .arrow-right{
    opacity: 1;
    transition: 500ms ;
    transform: translateX(35vw);
}

/* donde-monkey Section */

@keyframes balance{
    from {
        transform: rotate(80deg);
    }

    to {
        transform: rotate(-80deg);
    }
}

.donde-monkey{
    display: flex;
    flex-direction: column;
}

.image-donde-section{
    align-self: center;
    animation: balance 1s ease-in-out infinite alternate;
}

.question-donde{
    color: white;
    align-self: center;
}

.location-section{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.sevilla-location{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.background-img{
    position: absolute;
    align-self: center;
    width: 90vw;
    height: 400px;
    overflow: hidden;
    z-index: -1;
}

.background-img img{
    width: 90vw;
    transform: translateY(-70px);
}

.icon-monkey{
    margin-top: 20px;
    align-self: center;
}

.icon-monkey img{
    width: 110px;
}

.city{
    align-self: center;
}

.city h2{
    color: var(--color-monkeys);
    font-size: 3rem;
}

.buttom-location{
    align-self: center;
}

.buttom-location div{
    font-size: 1.5rem;
    background-color: var(--color-monkeys);
    padding: 5px 30px 5px 30px;
    border-radius: 30px;
}

.buttom-location div:hover{
    background-color: white;
    transition: 300ms;
    cursor: pointer;
}

.chillad-section{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.monitos-div{
    align-self: center;
    width: 200px;
    text-align: center;
}

.monitos-div h2{
    color: var(--color-monkeys);
    font-size: 3rem;
}

.review-div{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}

.review-div p{
    color: white;
}
.review-div p i{
    width: 25px;
    color: orange;
}

.svg-google{
    align-self: center;
    width: 100px;
}

.comments-monkey{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.marta-container{
    display: flex;
    flex-direction: column;
    width: 90vw;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
}

.header-marta{
    display: flex;
    
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.div-profile{
    display: flex;
    gap: 20px;
}

.header-marta img{
    width: 30px;
    height: 30px;
}

.header-marta p{
    align-self: center;
}

.header-marta svg{
    width: 20px;
    height: 20px;
    text-align: left;
}

.stars-verified{
    display: flex;
}

.stars-verified i{
    align-self: center;
    color: orange;
}

.stars-verified img{
    margin-left: 10px;
    align-self: center;
    width: 20px;
}

.resena-section{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.resena-section h2{
    color: white;
    align-self: center;
}

.location-resena{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.location-resena div{
    width: 140px;
    background-color: var(--color-monkeys);
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.location-resena div a{
    text-decoration: none;
    align-self: center;
    color: black;

}

.looking-job{
    display: flex;
    background-color: white;
    height: 273px;
    justify-content: space-between;
    margin-top: 60px;
}

.looking-job div:first-child{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.looking-job p{
    font-weight: 600;
    font-size: 1.2rem;
}

.looking-job a{
    color: var(--color-monkeys);
    font-weight: 600;
    font-size: 1.2rem;
}

.looking-job a:hover{
    color: black;
}

.looking-job div:last-child{
    width: 280px;
    height: 100%;
    overflow: hidden;
}

.looking-job img{
    width: 316px;
    height: 100%;
    transform: translateX(-30px);
}

footer{
    display: flex;
    flex-direction: column;
    padding: 40px 10px 10px 10px;
    gap: 20px;
    
}

.footer-first{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 100px;
}

.restaurants-food{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.restaurants-food div:first-child{
    color: var(--color-monkeys);
    font-size: 1.8rem;
}

.restaurants-food ul{
    list-style: none;
}

.whi-ul{
    color: white;
}

.ye-ul{
    color: var(--color-monkeys);
}

.contacto-footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contacto-footer div:first-child{
    color: var(--color-monkeys);
}

.inside-contacto{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inside-contacto ul{
    list-style: none;
}

.social-footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.social-footer div:first-child{
    color: var(--color-monkeys);
}

.social-ul{
    display: flex;
}

.social-ul ul{
    list-style: none;
    display: flex;
    align-content: center;
    gap: 5px;
}
.social-ul li{
    position: relative;
    border: 1px white solid;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    display: flex;
}

.blue-hover:hover{
    background-color: rgb(48, 112, 191);
}

.sky-hover:hover{
    background-color: rgb(84, 134, 196);
}

.dark-hover:hover{
    background-color: rgb(40, 41, 43);
}

.red-hover:hover{
    background-color: rgb(214, 75, 75);
}

.social-ul svg{
    width: 20px;
    fill: white;
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 2;
}

.logo-footer{
    position: absolute;
    right: 0;
}

.logo-footer img{
    width: 150px;
}



.second-footer{
    background-color: white;
    padding: 20px;
}

.payments-footer{
    padding: 0px 0px 10px 0px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.payments-footer div{
    display: flex;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(208, 208, 208);
}

.payments-footer svg{
    width: 40px;
    fill: rgb(105, 105, 105);
}

.payments-footer svg:hover{
    fill: black;
}

.nav-footer ul{
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.nav-footer a{
    text-decoration: none;
    color: black;
}

.copy-footer{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}